/* line 27, ../sass/exercise.scss */
section {
  padding-bottom: 30px;
}

/* line 31, ../sass/exercise.scss */
.hour-check {
  cursor: pointer;
}

/* line 35, ../sass/exercise.scss */
.off {
  color: #95A5A6;
}

/* line 39, ../sass/exercise.scss */
.on {
  color: yellow;
}

/* line 43, ../sass/exercise.scss */
.transparent {
  color: transparent;
}

/* line 48, ../sass/exercise.scss */
.td-clickable.hour-mark .on {
  color: yellow;
}
/* line 51, ../sass/exercise.scss */
.td-clickable.hour-mark .off {
  color: white;
}

/* line 56, ../sass/exercise.scss */
.td-non-clickable.hour-mark {
  color: yellow;
}

/* line 60, ../sass/exercise.scss */
.exercise-1-body {
  background: #3498db;
  color: white;
}
/* line 63, ../sass/exercise.scss */
.exercise-1-body .today {
  color: #00fd4d;
}
/* line 66, ../sass/exercise.scss */
.exercise-1-body .norvir {
  border-bottom: 1px solid white;
}
/* line 69, ../sass/exercise.scss */
.exercise-1-body .table-hover tbody tr:hover td, .exercise-1-body .table-hover tbody tr:hover th {
  background-color: #2980b9;
}

/* line 74, ../sass/exercise.scss */
.exercise-2-body {
  background: #2ECC71;
  color: white;
}
/* line 77, ../sass/exercise.scss */
.exercise-2-body .today {
  color: #00fd4d;
}
/* line 80, ../sass/exercise.scss */
.exercise-2-body .fuzeon {
  border-bottom: 1px solid white;
}
/* line 83, ../sass/exercise.scss */
.exercise-2-body .table-hover tbody tr:hover td, .exercise-2-body .table-hover tbody tr:hover th {
  background-color: #27AE60;
}

/* line 88, ../sass/exercise.scss */
.day-table {
  width: 100%;
  margin-top: 20px;
}
/* line 91, ../sass/exercise.scss */
.day-table .timeline {
  color: #BDC3C7;
}
/* line 94, ../sass/exercise.scss */
.day-table .td-day {
  cursor: pointer;
}

/* line 99, ../sass/exercise.scss */
.checked {
  color: yellow;
}

/* line 103, ../sass/exercise.scss */
.non-checked {
  color: #BDC3C7;
}

/* line 107, ../sass/exercise.scss */
#schedule-table {
  padding-top: 0px;
}
/* line 109, ../sass/exercise.scss */
#schedule-table table {
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
/* line 112, ../sass/exercise.scss */
#schedule-table table .td-drug-name {
  width: 6%;
}
/* line 115, ../sass/exercise.scss */
#schedule-table table .td-hour {
  width: 0.5%;
}
/* line 118, ../sass/exercise.scss */
#schedule-table table .td-border-right {
  border-right: 1px solid white;
}
/* line 122, ../sass/exercise.scss */
#schedule-table table th {
  text-align: center;
}
/* line 125, ../sass/exercise.scss */
#schedule-table table td {
  text-align: center;
}

/* line 130, ../sass/exercise.scss */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #2980b9;
}
