/* line 27, ../sass/exercise.scss */
section {
  padding-bottom: 30px;
}

/* line 31, ../sass/exercise.scss */
a {
  color: white;
}

/* line 35, ../sass/exercise.scss */
.hour-check {
  cursor: pointer;
}

/* line 39, ../sass/exercise.scss */
.off {
  color: #95A5A6;
}

/* line 43, ../sass/exercise.scss */
.on {
  color: yellow;
}

/* line 47, ../sass/exercise.scss */
.transparent {
  color: transparent;
}

/* line 52, ../sass/exercise.scss */
.td-clickable.hour-mark .on {
  color: yellow;
}
/* line 55, ../sass/exercise.scss */
.td-clickable.hour-mark .off {
  color: white;
}

/* line 60, ../sass/exercise.scss */
.td-non-clickable.hour-mark {
  color: yellow;
}

/* line 64, ../sass/exercise.scss */
.exercise-1-body {
  background: #3498db;
  color: white;
}
/* line 67, ../sass/exercise.scss */
.exercise-1-body .today {
  color: #00fd4d;
}
/* line 70, ../sass/exercise.scss */
.exercise-1-body .norvir {
  border-bottom: 1px solid white;
}
/* line 73, ../sass/exercise.scss */
.exercise-1-body .table-hover tbody tr:hover td, .exercise-1-body .table-hover tbody tr:hover th {
  background-color: #2980b9;
}

/* line 78, ../sass/exercise.scss */
.exercise-2-body {
  background: #2ECC71;
  color: white;
}
/* line 81, ../sass/exercise.scss */
.exercise-2-body .today {
  color: #00fd4d;
}
/* line 84, ../sass/exercise.scss */
.exercise-2-body .fuzeon {
  border-bottom: 1px solid white;
}
/* line 87, ../sass/exercise.scss */
.exercise-2-body .table-hover tbody tr:hover td, .exercise-2-body .table-hover tbody tr:hover th {
  background-color: #27AE60;
}
/* line 90, ../sass/exercise.scss */
.exercise-2-body section {
  padding-top: 50px;
}

/* line 95, ../sass/exercise.scss */
.exercise-3-body {
  background: #E67E22;
  color: white;
}
/* line 98, ../sass/exercise.scss */
.exercise-3-body .today {
  color: #00fd4d;
}
/* line 101, ../sass/exercise.scss */
.exercise-3-body .atripla {
  border-bottom: 1px solid white;
}
/* line 104, ../sass/exercise.scss */
.exercise-3-body .table-hover tbody tr:hover td, .exercise-3-body .table-hover tbody tr:hover th {
  background-color: #D35400;
}

/* line 109, ../sass/exercise.scss */
.day-table {
  width: 100%;
  margin-top: 20px;
}
/* line 112, ../sass/exercise.scss */
.day-table .timeline {
  color: #BDC3C7;
}
/* line 115, ../sass/exercise.scss */
.day-table .td-day {
  cursor: pointer;
}

/* line 120, ../sass/exercise.scss */
.checked {
  color: yellow;
}

/* line 124, ../sass/exercise.scss */
.non-checked {
  color: #BDC3C7;
}

/* line 128, ../sass/exercise.scss */
#schedule-table {
  padding-top: 0px;
}
/* line 130, ../sass/exercise.scss */
#schedule-table table {
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
/* line 133, ../sass/exercise.scss */
#schedule-table table .td-drug-name {
  width: 6%;
}
/* line 136, ../sass/exercise.scss */
#schedule-table table .td-hour {
  width: 0.5%;
}
/* line 139, ../sass/exercise.scss */
#schedule-table table .td-border-right {
  border-right: 1px solid white;
}
/* line 143, ../sass/exercise.scss */
#schedule-table table th {
  text-align: center;
}
/* line 146, ../sass/exercise.scss */
#schedule-table table td {
  text-align: center;
}

/* line 151, ../sass/exercise.scss */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #2980b9;
}

/* line 155, ../sass/exercise.scss */
.drug-name {
  font-size: 20px;
}

/* line 159, ../sass/exercise.scss */
.hour-indicator {
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 40px;
}
