/* line 27, ../sass/protocol.scss */
.navbar-protocol {
  background: #2c3e50;
}

/* line 31, ../sass/protocol.scss */
.navbar-protocol .navbar-header .navbar-brand {
  color: #ecf0f1;
}

/* line 35, ../sass/protocol.scss */
.navbar-protocol .nav > li > a,
.navbar-protocol .nav > li > a:focus {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #ecf0f1;
}
