/* line 27, ../sass/protocol.scss */
section {
  padding-top: 60px;
}

/* line 31, ../sass/protocol.scss */
.hour-check {
  cursor: pointer;
}

/* line 35, ../sass/protocol.scss */
.off {
  color: #95A5A6;
}

/* line 39, ../sass/protocol.scss */
.on {
  color: yellow;
}

/* line 43, ../sass/protocol.scss */
.transparent {
  color: transparent;
}

/* line 47, ../sass/protocol.scss */
.warning {
  color: yellow;
}

/* line 51, ../sass/protocol.scss */
.protocol-1-body {
  background: #3498db;
}
/* line 54, ../sass/protocol.scss */
.protocol-1-body .protocol-instruction-text {
  color: white;
}
/* line 58, ../sass/protocol.scss */
.protocol-1-body .table-hover tbody tr:hover td, .protocol-1-body .table-hover tbody tr:hover th {
  background-color: #2980b9;
}
/* line 62, ../sass/protocol.scss */
.protocol-1-body #instruction {
  padding-bottom: 0px;
  margin-bottom: -15px;
}
/* line 67, ../sass/protocol.scss */
.protocol-1-body #schedule-table {
  padding-top: 0px;
}
/* line 69, ../sass/protocol.scss */
.protocol-1-body #schedule-table table {
  border-bottom: 1px solid white;
}
/* line 71, ../sass/protocol.scss */
.protocol-1-body #schedule-table table .td-drug-name {
  width: 6%;
}
/* line 74, ../sass/protocol.scss */
.protocol-1-body #schedule-table table .td-hour {
  width: 0.5%;
}
/* line 77, ../sass/protocol.scss */
.protocol-1-body #schedule-table table .td-border-right {
  border-right: 1px solid white;
}
/* line 81, ../sass/protocol.scss */
.protocol-1-body #schedule-table table th {
  text-align: center;
}
/* line 84, ../sass/protocol.scss */
.protocol-1-body #schedule-table table td {
  text-align: center;
}
/* line 90, ../sass/protocol.scss */
.protocol-1-body .exercise-button-row {
  margin-top: 10px;
}

/* line 95, ../sass/protocol.scss */
.protocol-2-body {
  background: #2ecc71;
}
/* line 98, ../sass/protocol.scss */
.protocol-2-body .protocol-instruction-text {
  color: white;
}
/* line 102, ../sass/protocol.scss */
.protocol-2-body .table-hover tbody tr:hover td, .protocol-2-body .table-hover tbody tr:hover th {
  background-color: #27ae60;
}
/* line 106, ../sass/protocol.scss */
.protocol-2-body #instruction {
  padding-bottom: 0px;
  margin-bottom: -15px;
}
/* line 111, ../sass/protocol.scss */
.protocol-2-body #schedule-table {
  padding-top: 0px;
}
/* line 113, ../sass/protocol.scss */
.protocol-2-body #schedule-table table {
  border-bottom: 1px solid white;
}
/* line 115, ../sass/protocol.scss */
.protocol-2-body #schedule-table table .td-drug-name {
  width: 6%;
}
/* line 118, ../sass/protocol.scss */
.protocol-2-body #schedule-table table .td-hour {
  width: 0.5%;
}
/* line 121, ../sass/protocol.scss */
.protocol-2-body #schedule-table table .td-border-right {
  border-right: 1px solid white;
}
/* line 125, ../sass/protocol.scss */
.protocol-2-body #schedule-table table th {
  text-align: center;
}
/* line 128, ../sass/protocol.scss */
.protocol-2-body #schedule-table table td {
  text-align: center;
}
/* line 134, ../sass/protocol.scss */
.protocol-2-body .exercise-button-row {
  margin-top: 10px;
}

/* line 139, ../sass/protocol.scss */
.protocol-3-body {
  background: #e67e22;
}
/* line 142, ../sass/protocol.scss */
.protocol-3-body .protocol-instruction-text {
  color: white;
}
/* line 146, ../sass/protocol.scss */
.protocol-3-body .table-hover tbody tr:hover td, .protocol-3-body .table-hover tbody tr:hover th {
  background-color: #d35400;
}
/* line 150, ../sass/protocol.scss */
.protocol-3-body #instruction {
  padding-top: 100px;
  padding-bottom: 30px;
}
/* line 155, ../sass/protocol.scss */
.protocol-3-body #schedule-table {
  padding-top: 0px;
}
/* line 157, ../sass/protocol.scss */
.protocol-3-body #schedule-table table {
  border-bottom: 1px solid white;
}
/* line 159, ../sass/protocol.scss */
.protocol-3-body #schedule-table table .td-drug-name {
  width: 6%;
}
/* line 162, ../sass/protocol.scss */
.protocol-3-body #schedule-table table .td-hour {
  width: 0.5%;
}
/* line 165, ../sass/protocol.scss */
.protocol-3-body #schedule-table table .td-border-right {
  border-right: 1px solid white;
}
/* line 169, ../sass/protocol.scss */
.protocol-3-body #schedule-table table th {
  text-align: center;
}
/* line 172, ../sass/protocol.scss */
.protocol-3-body #schedule-table table td {
  text-align: center;
}
/* line 178, ../sass/protocol.scss */
.protocol-3-body .exercise-button-row {
  margin-top: 10px;
}
