@import "compass/css3";

@mixin lg {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}

@mixin sm {
    @media only screen and (max-width: 991px) {
        @content;
    }
}

@mixin xs {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

section {
    padding-bottom: 30px;
}

.hour-check {
    cursor: pointer;
}

.off {
    color: #95A5A6;
}

.on {
    color: yellow;
}

.transparent {
    color: rgba(0,0,0,0);
}

.td-clickable.hour-mark {
    .on {
        color: yellow;
    } 
    .off {
        color: white;
    }
}

.td-non-clickable.hour-mark {
    color: yellow;
}

.exercise-1-body {
    background: #3498db;
    color: white;
    .today {
        color: #00fd4d;
    }
    .norvir {
        border-bottom: 1px solid white;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #2980b9;
    }
}

.exercise-2-body {
    background: #2ECC71;
    color: white;
    .today {
        color: #00fd4d;
    }
    .fuzeon {
        border-bottom: 1px solid white;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #27AE60;
    }
}

.exercise-3-body {
    background: #E67E22;
    color: white;
    .today {
        color: #00fd4d;
    }
    .atripla {
        border-bottom: 1px solid white;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #D35400;
    }
}

.day-table {
    width: 100%;
    margin-top: 20px;
    .timeline {
        color: #BDC3C7;
    }
    .td-day {
        cursor: pointer;
    }
}

.checked {
    color: yellow;
}

.non-checked {
    color: #BDC3C7;
}

#schedule-table {
    padding-top: 0px;
    table {
        border-bottom: 1px solid white;
        margin-bottom: 30px;
        .td-drug-name {
            width: 6%;
        }
        .td-hour {
            width: 0.5%;
        }
        .td-border-right {
            border-right: 1px solid white;
        }
            
        th {
            text-align: center;
        }
        td {
            text-align: center;
        }
    }
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #2980b9;
}

.drug-name {
    font-size: 20px;
} 

.hour-indicator {
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255, 0.7);
    color: black;
    font-size: 40px;
}