@import "compass/css3";

@mixin lg {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}

@mixin sm {
    @media only screen and (max-width: 991px) {
        @content;
    }
}

@mixin xs {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

.navbar-protocol {
    background: #2c3e50;
}

.navbar-protocol .navbar-header .navbar-brand {
    color: #ecf0f1;
}

.navbar-protocol .nav > li>a,
.navbar-protocol .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #ecf0f1;
}