@import "compass/css3";

@mixin lg {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}

@mixin sm {
    @media only screen and (max-width: 991px) {
        @content;
    }
}

@mixin xs {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

section {
    padding-top: 60px;
}

.hour-check {
    cursor: pointer;
}

.off {
    color: #95A5A6;
}

.on {
    color: yellow;
}

.transparent {
    color: rgba(0,0,0,0);
}

.warning {
    color: yellow;
}

.protocol-1-body {
    background: #3498db;

    .protocol-instruction-text {
        color: white;
    }

    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #2980b9;
    }

    #instruction {
        padding-bottom: 0px;
        margin-bottom: -15px;
    }

    #schedule-table {
        padding-top: 0px;
        table {
            border-bottom: 1px solid white;
            .td-drug-name {
                width: 6%;
            }
            .td-hour {
                width: 0.5%;
            }
            .td-border-right {
                border-right: 1px solid white;
            }
            
            th {
                text-align: center;
            }
            td {
                text-align: center;
            }
        }
    }

    .exercise-button-row {
        margin-top: 10px;
    }
}

.protocol-2-body {
    background: #2ecc71;

    .protocol-instruction-text {
        color: white;
    }

    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #27ae60;
    }

    #instruction {
        padding-bottom: 0px;
        margin-bottom: -15px;
    }

    #schedule-table {
        padding-top: 0px;
        table {
            border-bottom: 1px solid white;
            .td-drug-name {
                width: 6%;
            }
            .td-hour {
                width: 0.5%;
            }
            .td-border-right {
                border-right: 1px solid white;
            }
            
            th {
                text-align: center;
            }
            td {
                text-align: center;
            }
        }
    }

    .exercise-button-row {
        margin-top: 10px;
    }
}

.protocol-3-body {
    background: #e67e22;

    .protocol-instruction-text {
        color: white;
    }

    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #d35400;
    }

    #instruction {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    #schedule-table {
        padding-top: 0px;
        table {
            border-bottom: 1px solid white;
            .td-drug-name {
                width: 6%;
            }
            .td-hour {
                width: 0.5%;
            }
            .td-border-right {
                border-right: 1px solid white;
            }
            
            th {
                text-align: center;
            }
            td {
                text-align: center;
            }
        }
    }

    .exercise-button-row {
        margin-top: 10px;
    }
}